#form {
    position: relative;
    overflow: hidden;

    padding-top: 2rem;
}

#form .video img {
    width: 100%;
}

#form p {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

#form .form {
    width: 100%;
}

#form form {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    gap: 2rem;

    width: 100%;

    background: #efe8da;
    border: 1px solid #ffffff32;
    padding: 2rem;
    border-radius: 1rem;
}

#form .form .field {
    width: 100%;
}

#form .form label {
    font-size: 1.4rem;
    color: #000000;
}

#form .form input {
    margin-top: 1rem;
    width: 100%;

    background: #f3efe8;

    border: 1px solid #c7bfb0;
    font-size: 1.6rem;
    padding: 1.5rem;
    border-radius: 1rem;
    color: #000000;
}

#form .form input::placeholder {
    opacity: .3;
    color: #000;
}

#form .form input:focus {
    outline: 1px solid #fff;
} 

#form iframe {
    width: 100%;
    aspect-ratio: 16/9;
}

#form .video h2 {
    color: #f3efe8;
    font-size: 1.4rem;

    font-weight: 500;
}

#form .video h2.mobile {
    margin-top: 1rem;
}

#form .video h2.desktop {
    display: none;
}

#form .video h2 span {
    font-weight: 700;
}

#form .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#form .box h2 {
    color: #f3efe8;
    font-weight: 700;
    font-size: 1.7rem;

    margin-bottom: 2rem;
}

#form .box h3 {
    font-size: 1.4rem;
    color: #f3efe8;
    background: #57141D;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 700;

    width: max-content;

    margin-top: 3rem;
    margin-bottom: 1rem;
}

@media (min-width: 1080px) {
    section#form {
        padding-top: 10rem;
        padding-bottom: 10rem;
    }

    section#form .video h2 {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    section#form .video h2.mobile {
        display: none;
    }

    section#form .video h2.desktop {
        display: inherit;
    }

    section#form .box h3 {
        margin-top: 0;
    }

    section#form .box h2 {
        font-size: 2.2rem;
        margin-top: 0;
    }

    section#form .content {
        display: grid;
        grid-template-columns: 1.6fr 1fr;
        align-items: center;
        gap: 8rem;
    }

    section#form p {
    }

    section#form form {
        padding: 3rem;

        align-items: center;
    }

    section#form button {
        padding: 2rem 5.55rem;
        margin-top: 1.5rem;
        width: 100%;
    }

    section#form form .fields {
        width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}